<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761591335750-v3fdu9mc2krvn8kfdgaafhsgsiuo61ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761591335750-v3fdu9mc2krvn8kfdgaafhsgsiuo61ne</string>
	<key>API_KEY</key>
	<string>AIzaSyCzCk-0Jf70JQD6F3T0KYafn8NGkao7KxU</string>
	<key>GCM_SENDER_ID</key>
	<string>761591335750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackerapp</string>
	<key>PROJECT_ID</key>
	<string>tracker-e915c</string>
	<key>STORAGE_BUCKET</key>
	<string>tracker-e915c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761591335750:ios:4315c96a01b39cc4efb347</string>
</dict>
</plist>